{% extends "base.html" %}
{% block content %}

<h2>Welcome {{ user.username }}!</h2>
<p>This is your dashboard.</p>


<script id="chat-config" type="application/json">
{
    "USER_ID": {{ user.username | tojson }},
    "IDENTITY_SIGNATURE": {{ identity_signature | tojson }},
    "API_BASE_URL": "https://127.0.0.1:8000",
    "WS_URL": "wss://127.0.0.1:8000/chat/ws/chat/{{ user.username | urlencode }}/",
    "LICENSE_INFO": {{ CWU_LICENSE_INFO | tojson }}
}
</script>
<script src="{{ url_for('static', filename='js/init-chat.js') }}"></script>

<script type="module"
    src="{{ url_for('static', filename='chat/ChatWithUsWid.js') }}?v={{ range(1, 100000) | random }}"></script>

<br><br>
<a href="{{ url_for('logout') }}">Logout</a>

{% endblock %} 
